
.metadata/.lock
.metadata/.log
*.ini
*.setup
*.gen
*.tis
*.nrm
*.index
*.prefs
*.fdt
*.fdx
*.fnm
*.frq
*.tii
*.lock
*.xml
*.zip
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1

.metadata/*
.recommenders/*

iCare/bin/*
iCare/.classpath
